.outer-div{
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr ; */
    grid-template-columns: 100px 2OOpx auto 200px 100px;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    grid-gap: 20px;
    grid-template-rows: 100px 300px;
}

.inner-div{
    border: 1px solid black;
    padding: 30px;
}

.box1{
    display: flex;
    background-color: yellow;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1 / 3;
    /* grid -column: 2 / span 2  span veut dire que ça prend 2 col.*/
}

.box2{
    background-color: red;
}

.box3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
}

.box4{
    background-color: green;
}

.box5{
    background-color: purple;
}

.box6{
    background-color: orange;
}

p{
    color:white;
    border: 1px solid white;

}

@media(max-width:768){
    .out-div{
        display: block;
    }
}